.dashboard {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h2 {
    font-size: 2.2rem;
    margin-bottom: 0.5rem;
  }

  p {
    margin-bottom: 1rem;
  }
}

.noposts {
  text-align: center;

  p {
    margin-bottom: 1.5rem;
  }

  a {
    padding: 10px 25px;
  }
}

.post_header {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  border-bottom: 2px solid #ccc;
  width: 80%;
  padding: 10px;
}

.post_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  width: 80%;
  padding: 10px;
}

.post_row button,
.post_row a {
  margin: 0 5px;
  height: 30px;
  width: 100px;
  font-size: 0.7rem;
}

@media only screen and (max-width: 425px) {
  .post_row {
    display: flex;
    flex-direction: column;
  }

  .linksBotoes {
    display: flex;
  }

  .post_row button,
  .post_row a {
    margin: 0 5px;
    height: 20%;
    width: 30%;
    font-size: 0.7rem;
  }
}
